{% extends "base_generic.html" %}

{% block content %}
    <h1>Results List</h1>
<!--    {% if players_list %}
    <table cellspacing="10">
      <tr>
        <th><a href="?order_by=name">Name</th>
        <th><a href="?order_by=wins">Wins</th>
        <th><a href="?order_by=losses">Losses</th>
        <th><a href="?order_by=ties">Ties</th>
      </tr>

      {% for player in players_list %}
      <tr>
        <td> {{ player.name }}</td>
        <td> {{player.wins}} </td>
        <td> {{player.losses}} </td>
        <td> {{player.ties}} </td>
      </tr>
      {% endfor %}

    </table>
    {% else %}
      <p>No games played</p>
    {% endif %} -->
    {% load django_tables2 %}
    {% render_table table %}
{% endblock %}
